<div class="blog-list">
    <article class="card px-2 py-2">
        <time class="card-date">{{ '2024-04-26'|format_datetime('full', 'none') }}</time>
        <h2 class="card-title">Development of marketplace in Sylius</h2>
        <p class="card-text">I've developed a sass enitier with Sylius technology. This sass provides a marketplace for customers who can make online sales and book appointments online. The application can also book appointments with the customer and reserve payment. The application can also manage all the brand's franchisees, and each franchisee can manage his or her own data. The application also manages invoicing.</p>
        <a href="#" class="btn-secondary">Read More</a>
    </article>
    <article class="card px-2 py-2">
        <time class="card-date">{{ '2024-04-26'|format_datetime('full', 'none') }}</time>
        <h2 class="card-title">Development of marketplace in Sylius</h2>
        <p class="card-text">I've developed a sass enitier with Sylius technology. This sass provides a marketplace for customers who can make online sales and book appointments online. The application can also book appointments with the customer and reserve payment. The application can also manage all the brand's franchisees, and each franchisee can manage his or her own data. The application also manages invoicing.</p>
        <a href="#" class="btn-secondary">Read More</a>
    </article>
    <article class="card px-2 py-2">
        <time class="card-date">{{ '2024-04-26'|format_datetime('full', 'none') }}</time>
        <h2 class="card-title">Development of marketplace in Sylius</h2>
        <p class="card-text">I've developed a sass enitier with Sylius technology. This sass provides a marketplace for customers who can make online sales and book appointments online. The application can also book appointments with the customer and reserve payment. The application can also manage all the brand's franchisees, and each franchisee can manage his or her own data. The application also manages invoicing.</p>
        <a href="#" class="btn-secondary">Read More</a>
    </article>
    <article class="card px-2 py-2">
        <time class="card-date">{{ '2024-04-26'|format_datetime('full', 'none') }}</time>
        <h2 class="card-title">Development of marketplace in Sylius</h2>
        <p class="card-text">I've developed a sass enitier with Sylius technology. This sass provides a marketplace for customers who can make online sales and book appointments online. The application can also book appointments with the customer and reserve payment. The application can also manage all the brand's franchisees, and each franchisee can manage his or her own data. The application also manages invoicing.</p>
        <a href="#" class="btn-secondary">Read More</a>
    </article>
    <article class="card px-2 py-2">
        <time class="card-date">{{ '2024-04-26'|format_datetime('full', 'none') }}</time>
        <h2 class="card-title">Development of marketplace in Sylius</h2>
        <p class="card-text">I've developed a sass enitier with Sylius technology. This sass provides a marketplace for customers who can make online sales and book appointments online. The application can also book appointments with the customer and reserve payment. The application can also manage all the brand's franchisees, and each franchisee can manage his or her own data. The application also manages invoicing.</p>
        <a href="#" class="btn-secondary">Read More</a>
    </article>
</div>
